# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Only include the simpleassetplacer plugin when downloading from the Asset Library.
/**                              export-ignore
/addons                          !export-ignore
/addons/simpleassetplacer        !export-ignore
/addons/simpleassetplacer/**     !export-ignore
